ALL/all_atus.dta
Results-Aggregate-Trends/all_atus.dta
Results-Aggregate-Trends/all_atus_qtr.dta
Results-State-Variation/all_atus.dta
Results-State-Variation/all_atus_qtr_temp.dta
Results-State-Variation/all_atus_temp.dta
thesis/all_atus.dta
thesis/all_atus_qtr.dta
thesis/all_atus_temp.dta
